* {
    margin: 0px;
    padding: 0px;
  }
  .sections-container {
    width: 100%;
    margin: auto;
  }
  @font-face {
    font-family: "regular";
    src: url(../font/NotoSansJP-Regular.otf);
  }
  @font-face {
    font-family: "bold";
    src: url(../font/NotoSansJP-Bold.otf);
  }
  @font-face {
    font-family: "medium";
    src: url(../font/NotoSansJP-Medium.otf);
  }